<footer class="text-center text-muted small">
    <div>
        <hr>
        CST 336 Internet Programming.Final Project 2020&copy; <br>
        Lina Deen<br>
        <strong>Disclaimer:</strong> The information on this webpage is for
        academic purposes only, and may be incorrect.<br><br>
    </div>
</footer>
</body>

</html>